<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('partials/header') %>

   

    <main>
    
        <section class="partials">
          
            <section class="partials_left">
        
                <ul class="left__right">
<<<<<<< Updated upstream
                  <li>  <h1>Live preview</h1> <img src="/img/circle-info-solid.svg" alt="" class="infoSvg">  <p class="infoTekst">In the dashboard you will find a series of categories you can choose from to personalise your Digital Human.  When a variation has been chosen it will be send to the code editor where you can fine-tune the animation to finally send add it to your animation timeline.

                    For more information, see the User Guide.</p></li>
                  <li>  <h1>Live preview</h1></li>
=======
                  <li>  <h1>Live preview</h1> </li>
>>>>>>> Stashed changes
                    <li><%- include('partials/avatar') %> </li>
                  <li>  <%- include('partials/img') %> </li>
                </ul>
                
            </section>

            <sections class="partials_right">
                <h1>Animation editor <img src="/img/circle-info-solid.svg" alt="" class="infoSvg1">  <p class="infoTekst1">In the dashboard you will find a series of categories you can choose from to personalise your Digital Human.  When a variation has been chosen it will be send to the code editor where you can fine-tune the animation to finally send add it to your animation timeline.
                    For more information, see the User Guide.</p></h1>

                <section class="filter&commands">
                    <%- include('partials/commands') %>
                </section>

                <section class="editor">
                    <%- include('partials/editor') %>
                </section>
            </sections>
        </section>
    </main>
</body>
<script src="/script/filter.js"></script>
<script src="/script/chatbot.js"></script>
<script src="/script/list.js"></script>


</html>